
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Frogs</title>
 </head>
 <body>
^_^
<img src="http://nature.sfu-kras.ru/files/nature/ljagushka-oz.jpg">
<br>
<a href='about'>read about</a>
<br>
<a href='help'>Get help</a>
 </body>
</html>