<!DOCTYPE html>
<html>
<head>
  <title>Frog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href='about'>read about</a>
<a href='help'>Get help</a>
<a href='index'>Frog foto</a>
<br>
<br>
<br>

<%= yield %>

</body>
</html>
